html
	head
		title="Add Venue"
		include mainImports
		link(rel="stylesheet" type="text/css" href="css/mapStyle.css")
		link(rel="stylesheet" type="text/css" href="datepicker/css/datepicker.css")
		script(src='js/jquery-3.1.1.min.js')
		script(src='js/bootstrap.min.js')
		script(src='js/myMaps.js' async defer)
		script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBvUZVn1k-MkEnkOqc_MSWWVQ9TAF50Ugk&libraries=places&callback=initMap' async defer)
		script(src='js/createVenue.js')
		script(src='datepicker/js/bootstrap-datepicker.js')


	body
		input#pac-input.controls(type="text" placeholder="Enter a location")
		div#map
		.container-fluid
			.col-md-2
			.col-md-8
				#exhibitions
					.exhibition-row
						.form-group
							label Exhibition name
							input.form-control(type="text" name="exhibitionName" placeholder="Insert exhibition name")
						.form-group
							label Beggining date (Insert 0 if it's a permanent exhibition)
							.input-group
								.input-group-addon
									span.glyphicon.glyphicon-calendar(aria-hidden="true")
								input.form-control.datepicker(type="text" name="exhibitionBegDate" placeholder="Insert beggining date")
						.form-group
							label Ending date (Insert 0 if it's a permanent exhibition)
							.input-group
								.input-group-addon
									span.glyphicon.glyphicon-calendar(aria-hidden="true")
								input.form-control.datepicker(type="text" name="exhibitionEndDate" placeholder="Insert ending date")

						.artist-row
							button.btn.btn-primary.btn-sm.artistButton(type="button") Add Artist

					.exhibition-row
						button.btn.btn-primary.btn-sm.exhibitionButton(type="button") Add exhibition

				button#submitButton.btn.btn-primary.exhibitionButton.center-block(type="button" style="margin-bottom: 30px") Submit

			.col-md-2