html
	head
		title="Art Venue Control Panel"
		include mainImports

	body
		.container-fluid
			center(style="padding-top: 20%")
				.row
					.col-md-12
						a(href="createVenue")
							button.btn.btn-primary.btn-lg(type="button" style="width: 300px") Add new Art Venue
					.col-md-12(style="margin-top: 15px")
						a(href="listVenues")
							button.btn.btn-primary.btn-lg(type="button" style="width: 300px") See Art Venues