html
	head
		title="Art Venues"
		include mainImports

	body
		.container-fluid
			.col-md-2.hidden-xs
			.col-md-8
				each item in venues
					a(href="editVenue?venue=" + item.locationId)
						h2= item.locationName


			.col-md-2.hidden-xs