/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.controls:focus {
  border-color: #4d90fe;
}


#exhibitions {
  margin-bottom: 30px;
}

.exhibition-row {
  margin: 10px 0;
  border-bottom: 1px solid rgba(0,0,0,0.5);
  padding-top: 20px;
  padding-bottom: 20px;
}

.artist-row{
  margin-left: 40px;
  margin-top: 10px;
}

.art-piece-row {
  margin-left: 80px;
  margin-top: 10px;
}

.artistButton {
  margin-top:15px;
}